.big-box {
    border: 2px solid red;
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.first-box {
    border: 2px dotted blue;
    width: 30%;
}

.secondbox {
    border: 2px solid green;
    width: 30%;
    height: 50%;
}

.thirdbox {
    border: 2px solid yellow;
    width: 30%;
}