body {
    background-color: #0fbbd6;
    color:aliceblue
    font-size:aliceblue
}

h1 {
    font-size: 70 px;
    color:lightsteelblue
}

p {
    color:darkcyan
}


.box {
     background-color: deeppink;
     witdth: 300px;



margin:100px; 
border-width: 5px;
border-color: rgb(45, 30, 205);
border-style: solid;
}